In [2]:
import pandas as pd
import numpy as np

from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn import neighbors, datasets
from sklearn.neighbors import KNeighborsClassifier

In [2]:
train = pd.read_csv('train.csv', sep=',')

train

,atributo_0,atributo_1,atributo_2,atributo_3,atributo_4,atributo_5,atributo_6,atributo_7,atributo_8,atributo_9,target
0,0.878510,-0.339979,0.747610,1.672983,0.722101,-1.143671,1.184591,-0.418009,-0.682507,-0.339979,1
1,2.620065,-0.961367,-2.176780,2.677986,-0.283834,0.394112,1.333966,0.309138,0.371008,-0.961367,0
2,1.554621,0.067749,0.115621,1.348756,-0.176251,-0.965872,0.335977,0.426539,0.111519,0.067749,1
3,0.776714,-0.630599,-1.142482,-0.515408,-1.610397,0.488520,-0.715406,0.172159,1.685919,-0.630599,0
4,-0.252178,-0.179345,-0.892991,0.876678,1.128074,-0.067798,1.039079,-1.225864,-1.077252,-0.179345,1
...,...,...,...,...,...,...,...,...,...,...,...
3745,-0.134195,1.850392,1.183376,-0.818058,-0.010647,0.492784,-1.356710,-0.650315,-0.322528,1.850392,0
3746,-1.531538,-0.698049,1.450710,-2.044691,-0.832580,0.765781,-0.779748,0.658691,1.002685,-0.698049,2
3747,-0.942439,-0.699658,0.246887,-1.005668,-0.348603,-0.499291,-0.144731,0.786860,0.503972,-0.699658,2
3748,-0.188327,-1.973328,-0.702833,-0.516521,-1.116562,-0.094244,0.331275,0.189648,1.472843,-1.973328,0
3749,1.880341,-2.193227,-1.970721,2.113323,-0.583412,0.226316,1.677213,0.496346,0.916818,-2.193227,0

In [48]:
X = train.drop(columns=['target'])
y = train.target

# 30% teste, então sobra 70% para treino
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,
                                                    random_state=2027)

In [49]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(2625, 10)
(1125, 10)
(2625,)
(1125,)

In [50]:
model = KNeighborsClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [51]:
accuracy_score(y_test, y_pred)

0.8266666666666667

In [7]:
y_test[:10]

1457    0
1054    2
1097    2
1131    0
2628    2
3400    0
3317    1
2268    2
3093    0
693     1
Name: target, dtype: int64

In [8]:
y_pred[:10]

array([0, 2, 2, 0, 2, 0, 1, 2, 0, 1], dtype=int64)

In [9]:
confusion_matrix(y_test, y_pred)

array([[273,  42,  36],
       [ 45, 310,  19],
       [ 23,  30, 347]], dtype=int64)

In [10]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.78      0.79       351
           1       0.81      0.83      0.82       374
           2       0.86      0.87      0.87       400

    accuracy                           0.83      1125
   macro avg       0.83      0.82      0.82      1125
weighted avg       0.83      0.83      0.83      1125

In [11]:
acuracias = []
melhor_acc = None
melhor_model = None

for k in range(1,51):

    model = KNeighborsClassifier(n_neighbors = k)
    model.fit(X_train, y_train)

    y_pred = model.predict(X_test)

    acuracias.append(accuracy_score(y_test, y_pred))

    acc = (y_pred == y_test).sum() / len(y_pred) * 100
    print('K:', k, "-", acc)

    if melhor_acc is None or melhor_acc < acc:
            melhor_modelo = model
            melhor_acc = acc
    

print('Melhor modelo: ', melhor_modelo)
print('Melhor acurácia obtida: ', melhor_acc)

print(np.argsort(acuracias))

K: 1 - 77.24444444444445
K: 2 - 75.2
K: 3 - 81.24444444444444
K: 4 - 80.80000000000001
K: 5 - 82.66666666666667
K: 6 - 82.57777777777778
K: 7 - 83.91111111111111
K: 8 - 83.55555555555556
K: 9 - 83.55555555555556
K: 10 - 83.64444444444445
K: 11 - 83.28888888888889
K: 12 - 84.08888888888889
K: 13 - 83.64444444444445
K: 14 - 83.28888888888889
K: 15 - 83.64444444444445
K: 16 - 83.37777777777777
K: 17 - 84.35555555555555
K: 18 - 84.35555555555555
K: 19 - 84.08888888888889
K: 20 - 84.35555555555555
K: 21 - 84.08888888888889
K: 22 - 84.17777777777778
K: 23 - 83.55555555555556
K: 24 - 83.28888888888889
K: 25 - 83.37777777777777
K: 26 - 83.55555555555556
K: 27 - 83.02222222222223
K: 28 - 83.02222222222223
K: 29 - 83.2
K: 30 - 83.73333333333333
K: 31 - 83.28888888888889
K: 32 - 83.64444444444445
K: 33 - 83.64444444444445
K: 34 - 83.37777777777777
K: 35 - 83.02222222222223
K: 36 - 83.11111111111111
K: 37 - 82.75555555555556
K: 38 - 82.84444444444445
K: 39 - 82.57777777777778
K: 40 - 82.84444444444445
K: 41 - 82.75555555555556
K: 42 - 83.11111111111111
K: 43 - 82.84444444444445
K: 44 - 82.4888888888889
K: 45 - 83.11111111111111
K: 46 - 83.2
K: 47 - 83.2
K: 48 - 83.37777777777777
K: 49 - 83.2
K: 50 - 83.02222222222223
Melhor modelo:  KNeighborsClassifier(n_neighbors=17)
Melhor acurácia obtida:  84.35555555555555
[ 1  0  3  2 43  5 38  4 40 36 42 39 37 34 27 26 49 44 41 35 46 45 48 28
 23 10 13 30 33 47 24 15  8  7 22 25  9 31 12 14 32 29  6 20 18 11 21 16
 19 17]

In [12]:
model = KNeighborsClassifier(n_neighbors = 17)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.85      0.76      0.80       351
           1       0.81      0.87      0.84       374
           2       0.87      0.90      0.88       400

    accuracy                           0.84      1125
   macro avg       0.84      0.84      0.84      1125
weighted avg       0.84      0.84      0.84      1125

In [13]:
test = pd.read_csv('test.csv', sep=',')

In [14]:
test

,atributo_0,atributo_1,atributo_2,atributo_3,atributo_4,atributo_5,atributo_6,atributo_7,atributo_8,atributo_9
0,-1.408643,-0.476562,0.816260,-2.458167,-1.315676,0.398213,-1.321257,-0.463573,1.437143,-0.476562
1,1.017182,-0.016606,-0.265229,2.639312,1.729068,1.441399,1.898629,-0.614529,-1.744176,-0.016606
2,0.189377,0.806710,0.938611,0.128497,0.250247,-0.893069,-0.279304,-0.496363,-0.401376,0.806710
3,2.946274,-1.826070,-0.065529,3.494402,-0.094652,-0.568539,2.222872,-0.287359,0.330516,-1.826070
4,3.092419,1.310499,0.305403,4.121248,1.634940,-1.941418,1.603051,-1.609502,-1.960764,1.310499
...,...,...,...,...,...,...,...,...,...,...
1245,2.105687,1.980593,1.031130,2.593642,1.309430,0.875990,0.500608,0.468358,-1.728045,1.980593
1246,-0.378148,-0.459772,-1.724344,0.475134,0.724931,0.095055,0.834857,0.288165,-0.622373,-0.459772
1247,0.715393,1.787161,0.058040,0.040501,-0.016701,0.205078,-1.022564,0.310183,-0.332775,1.787161
1248,-0.486339,-0.488513,-0.315706,0.518770,0.874079,0.093310,0.949778,-0.486695,-0.761437,-0.488513
1249,0.065119,-1.697777,1.457102,-0.720772,-1.493655,-1.123901,-0.108869,-0.621159,1.788096,-1.697777

In [28]:
Xt = test
yt = test

Xt_test = test
yt_test = test

In [26]:
print(Xt_test.shape)

(1250, 10)

In [37]:
model = KNeighborsClassifier(n_neighbors = 17)
model.fit(X_train, y_train)
yt_pred = model.predict(Xt_test)

In [38]:
submission = pd.read_csv('submission (1).csv', sep=',')

In [44]:
submission['Predicted'] = yt_pred

In [45]:
submission.to_csv('Submission.csv')

In [47]:
pd.read_csv('Submission.csv', sep=',')\
    .drop(columns=['Lane'])\
    .to_csv('Submission1.csv', sep=',', index=False)